.card{
    border: 1px solid #272727;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;

    &.md{
        width: 30%;
        height: 21.875rem;
    }

    &.card-large{
        width: 50%;
    }

    .card-header{
        height: 20%;
    }

    .card-body{
        display: flex;
        flex-direction: column;
    }
}